

  <div class="modal-header">
    <h5 class="modal-title" id="editModal">Edit Student Record</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form action="{{ url_for('edit') }}" id="formEdit" method="POST">
            <input type="hidden" name="editInputID" value="{{ row['STUDENT_ID'] }}">
            <fieldset disabled>
                <div class="form-group">
                    <label for="editInputID">Student ID</label>
                    <input type="text" class="form-control" id="editInputID" name="editInputID" value="{{ row['STUDENT_ID'] }}" required>
                </div>
            </fieldset>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="editInputFirst">First Name</label>
                    <input type="text" class="form-control" id="editInputFirst" name="editInputFirst" placeholder="Ex. Don Juan" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="editInputLast">Last Name</label>
                    <input type="text" class="form-control" id="editInputLast" name="editInputLast" placeholder="Ex. Calbareza" required>
                </div>
            </div>
            <div class="form-group">
                <label for="editInputCollege">College</label>
                    <select id="editInputCollege" name="editInputCollege" class="form-control" required>
                        <option selected>Choose...</option>
                        <option>CCS</option>
                        <option>COET</option>
                        <option>CON</option>
                        <option>CSM</option>
                        <option>CED</option>
                        <option>CBAA</option>
                        <option>CASS</option>
                    </select>
                </div>
                <div class="form-group">
                <label for="inputCourse">Course</label>
                <input type="text" class="form-control" id="editInputCourse" name="editInputCourse" placeholder="Ex. BSA" required>
                </div>
                <div class="form-group">
                    <label for="editInputYear">Year</label>
                    <input type="text" class="form-control" id="editInputYear" name="editInputYear" placeholder="Ex. 1" required>
                </div>
    </div>
    <div class="modal-footer">
    
    <button type="submit" class="btn btn-primary">Edit Record</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </form>
    </div>