{% extends 'layout/master_layout.html' %}

{% block content %}

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1 ml-4">Student App CRUD</span>
    </nav>
    <div>
        <h1 class="ml-5 mt-2">STUDENT RECORDS</h1>
    </div>
    <div>
        {% include 'layout/_messages.html' %}
        <!-- Button trigger modal -->
        <button type="button" class="ml-5 btn btn-success" data-toggle="modal" data-target="#exampleModal">
            Add Record
        </button>

        <a class="btn btn-primary" href="{{ url_for('some_list') }}" role="button">Course List</a>
        
        <input id="myInput" type="text" placeholder="Search..">
        
        
        <!-- Modal -->
        {% include 'add.html' %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped mt-3" id = "location">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Student ID</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">First Name</th>
                        <th scope="col">College</th>
                        <th scope="col">Course</th>
                        <th scope="col">Department</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Year</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody id="studentTable">

                      {% for row in rows %}
                        <tr>
                            <th scope="row" class="id">{{row['STUDENT_ID']}}</th>
                            <td class="lastName">{{row['STUDENT_LAST_NAME']}}</td>
                            <td class="firstName">{{row['STUDENT_FIRST_NAME']}}</td>
                            <td class="college">{{row['STUDENT_COLLEGE']}}</td>
                            <td class="course">{{row['STUDENT_COURSE']}}</td>
                            <td class="dept">{{row['STUDENT_DEPT']}}</td>
                            <td class="gender">{{row['STUDENT_GENDER']}}</td>
                            <td class="year">{{row['STUDENT_YEAR']}}</td>
                            <td>
                            <div>
                                <a href="#" type="button" class="btn btn-primary edit" data-toggle="modal" data-target="#editModal{{ row['STUDENT_ID'] }}">
                                Edit
                                </a>
                                <!-- Modal EDIT STUDENT -->
                                {% include 'edit.html' %}
                                <!-- <a href="#" type="button" class="btn btn-primary edit" data-toggle="modal" data-target="#editModal" data-idid="{{row['STUDENT_ID']}}" data-fname="{{ row['STUDENT_FIRST_NAME'] }}" data-lname="{{row['STUDENT_LAST_NAME']}}" data-col="{{row['STUDENT_COLLEGE']}}" data-cor="{{row['STUDENT_COURSE']}}" data-gen="{{row['STUDENT_GENDER']}}" data-yr="{{row['STUDENT_YEAR']}}"></a> -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ row['STUDENT_ID'] }}">
                                Delete
                                </button>
                               
                                <!-- Modal DELETE STUDENT -->
                                    <div class="modal fade" id="deleteModal{{ row['STUDENT_ID'] }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                {% include "del.html" %}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

{% endblock %}